<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试页面</title>
</head>

<body>

<p>点击按钮查看输入的对话框。</p>
<button onclick="myFunction()">点我</button>
<p id="demo"></p>

<h3><a href="{% url 'sc_cms:ajax_test' %}">点击跳转回ajax_test页面</a></h3>

<script>
function myFunction(){
	var x;
	var person=prompt("请添加的站点区域ID(北美1,台湾2,韩国3,港澳4","");
	console.log("不为空的布尔值",person !== null);
	console.log("判断空字符 !=的布尔值",person !== " ");
    console.log("判断数字NaN的布尔值",!isNaN(person));
    if(person === "" || person ==null){
        return false;
    　　}
    if(!isNaN(person)){　　　　
    　　//对于空数组和只有一个数值成员的数组或全是数字组成的字符串，isNaN返回false，例如：'123'、[]、[2]、['123'],isNaN返回false,
       //所以如果不需要val包含这些特殊情况，则这个判断改写为if(!isNaN(val) && typeof val === 'number' )
    　　　 return true;
    }else{
    　　　　return false;
    }

}
</script>


</body>


</html>